/* #region common */

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #111111;
  background-color: #FAFAFA;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  color: currentColor;
}

img {
  display: block;
}

main {
  flex-grow: 1;
}

section {
  padding: 40px 0;
}

@media only screen and (min-width: 768px) {
  section {
    padding: 50px 0;
  }
}

@media only screen and (min-width: 1200px) {
  section {
    padding: 60px 0;
  }
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

input {
  font-family: inherit;
}

address {
  font-style: normal;
}

.container {
  max-width: 375px;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hide {
  display: none;
}

/* #endregion */

/* #region Mobile menu */

.menu-backdrop {}

.menu {}

.close-button {}

.close-icon {}

.menu-nav-list {}

.menu-nav-item {}

.socials-list {}

.socials-item {}

.socials-icon {}

/* #endregion */

/* #region Header */

.header {}

.logo-link {}

.logo-italic-side {}

.logo-icon {}

.menu-link {}

.menu-icon {}

.menu-nav {}

/* #endregion */

/* #region Hero */

.hero {}

.hero-title {}

.buy-button {}

.made-button {}

.scroll-down-link {}

.scroll-down-icon {}

/* #endregion */

/* #region Benefits */

.benefits {}

.benefits-list {}

.benefits-item {}

.benefits-icon {}

.benefits-title {}

.benefits-descr {}

/* #endregion */

/* #region Ingredients */

.ingredients {}

.ingredients-title {}

.page-orange-text {}

.ingredients-list {}

.ingredients-item {}

.ingredients-button {}

.ingredients-icon {}

.ingredients-img {}

.ingredients-desc {}

/* #endregion */

/* #region Howitismade */

.howitismade {}

.howitismade-title {}

.howitismade-img {}

.howitismade-text {}

.howitismade-subtitle {}

.howitismade-list {}

.howitismade-item {}

/* #endregion */

/* #region Products */

.products {}

.products-title {}

.products-list {}

.products-item {}

.products-img {}

.products-subtitle {}

.products-desc {}

.products-price {}

/* #endregion */

/* #region Topsellers */

.topsellers {}

.topsellers-title {}

.topsellers-list {}

.topsellers-item {}

.topsellers-img {}

.topsellers-subtitle {}

/* #endregion */

/* #region Reviews */

.reviews {}

.reviews-title {}

.reviews-list {}

.reviews-item {}

.reviews-img {}

.reviews-subtitle {}

.reviews-desc {}

.reviews-button {}

/* #endregion */

/* #region Footer */

.footer {}

.footer-upperside {}

.footer-title {}

.address-desc {}

.address-list {}

.address-item {}

.address-link {}

.socials {}

.socials-title {}

.footer-downside {}

.subscription-form {}

.subscription-input {}

.subscription-button {}

/* #endregion */

/* #region Modal */

.modal-backdrop {}

.modal {}

.modal-form {}

.modal-form-wrapper {}

.modal-label {}

.modal-input {}

.modal-icon {}

.modal-icon-error {}

.textarea-label {}

.modal-textarea {}

.checkbox-label {}

.visually-hidden {}

.checkbox-text {}

.modal-checkbox {}

.modal-checkbox-icon {}

.checkbox-text-wrapper {}

.modal-link {}

.submit-button {}

/* #endregion */